* {
    box-sizing: border-box;
}

body,
html,
.App,
#root,
.outer {
    width: 100%;
    height: 100%;
}

.outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.inner {
    width: 450px;
    margin: auto;
    background: #e7cabc;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 50px 55px;
    border-radius: 15px;
    transition: all 0.3s;
}

.outer .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.outer h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

.form-group {
    padding: 5px;
}

 
.custom-control-label {
    font-weight: 400;
}

.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 16px !important;
    padding-top: 10px;
    color: #ff4444;
    margin: 0;
}

.forgot-password a {
    color: #167bff;
}

.btn-wapper {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.login-button {
    background-color: #966a57;
    border: none;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
}

.text-other-signin {
    text-align: center;
}
.social-media-icon-white a {
    display: flex;
    margin-top: 10px;
    justify-content: center !important;
    text-align: center;
    color: #4267b2;
    font-size: 3rem;
}
