#custom-navbar {
    border-bottom: 2px solid rgb(231, 232, 235);
    background-color: #ffffff;
}

#left-side {
    border-right: 2px solid rgb(231, 232, 235);
    background-color: #ffffff;
    padding-top: 32px !important;
}

#right-side {
    background-color: #ffffff;
    padding : 32px 32px 0 32px;
}

.row-table{
    border-style: none !important;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
}

.icon-button, .icon-button:hover, .icon-button:active, .icon-button:focus {
    background : none !important;
    border: none !important;
    margin: 0;
    padding: 0;
}

.present-icon {
    color: rgb(219, 220, 225) !important;
    background-color: black;
    cursor: pointer;
}

.present-icon:hover {
    color: dodgerblue !important;
    background-color: white;
    cursor: pointer;
}


