.member-item .assignment-btn {
   text-align: center;
}
.member-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.member-item .assignment-btn .role-assignnment-icon {
    height: 1rem;
    margin-right: 5px;
    margin-left: 0px;
}


